In [6]:
n1 = [1, 2, 3, 4, 5, 6, 7, 8, 9]

In [8]:
n2 = [x + 1 for x in n1]

In [9]:
n2

[2, 3, 4, 5, 6, 7, 8, 9, 10]

In [16]:
avg = float(sum(n1)/len(n1))
avg

5.0

In [29]:
n3 = [1 if y > avg else 0 for y in n1]
n3

[0, 0, 0, 0, 0, 1, 1, 1, 1]

In [64]:
n4 = [1, 1, 0, -9, 1, 1, 0, 0, 2, -1, -4]
n4

[1, 1, 0, -9, 1, 1, 0, 0, 2, -1, -4]

In [54]:
n5 = [1 if z == 0 else 0 if z == 1 else 'false' for z in n4]

#float(5)/2

In [93]:
#return the square and square root of all the positive numbers or zero 
n6 = [[x**2, x **.5] for x in [y for y in n4 if y>=0]]
n6

[[1, 1.0],
 [1, 1.0],
 [0, 0.0],
 [1, 1.0],
 [1, 1.0],
 [0, 0.0],
 [0, 0.0],
 [4, 1.4142135623730951]]

In [96]:
p1 = ["mo", "issy", "batman", "superman", "nighthawk"]
p1

['mo', 'issy', 'batman', 'superman', 'nighthawk']

In [98]:
cols = ['name', 'age', 'salary']
cols

['name', 'age', 'salary']

In [117]:
values = [['Mo', 'Money', 'mo', 'problems'], [8, 100, 9, 12], [30000, 12000, 0, 'Trillion Dollars']]
values

[['Mo', 'Money', 'mo', 'problems'],
 [8, 100, 9, 12],
 [30000, 12000, 0, 'Trillion Dollars']]

In [126]:
#Using dict function to create the dictionary
# cols_vals = dict( zip( cols, values))
# cols_vals

In [125]:
import pandas as pd
pd.DataFrame(dict( zip( cols, values)))

   age      name            salary
0    8        Mo             30000
1  100     Money             12000
2    9        mo                 0
3   12  problems  Trillion Dollars

In [120]:
df

   age      name            salary
0    8        Mo             30000
1  100     Money             12000
2    9        mo                 0
3   12  problems  Trillion Dollars

In [122]:
#Defining the expected key:value output pair
final = {cols:values for cols, values in zip(cols, values)}
final

{'age': [8, 100, 9, 12],
 'name': ['Mo', 'Money', 'mo', 'problems'],
 'salary': [30000, 12000, 0, 'Trillion Dollars']}

In [124]:
df1 = pd.DataFrame(cols_vals)
df1

   age      name            salary
0    8        Mo             30000
1  100     Money             12000
2    9        mo                 0
3   12  problems  Trillion Dollars