# Project 2
## Step 1: Explore data

##### Load your data in using Pandas and start to explore. Save all of your early exploration code here and include in your final submission.

In [8]:
#Importing packages 
import pandas as pd, numpy as np, seaborn as sns, matplotlib.pyplot as plt, datetime
from datetime import timedelta
%matplotlib inline

##### Write a brief description of your data, data dictionary, and any interesting observations you've made thus far.

In [9]:
#read the data from csv and assign it to a dataframe
bd_original = pd.read_csv("../assets/billboard.csv", header=0)

In [10]:
#Wanted to verify what is created
type(bd_original)

pandas.core.frame.DataFrame

In [11]:
#checking how many rows and columns are here.
bd_original.columns
#317 rows, 83 columns

Index([u'year', u'artist.inverted', u'track', u'time', u'genre',
       u'date.entered', u'date.peaked', u'x1st.week', u'x2nd.week',
       u'x3rd.week', u'x4th.week', u'x5th.week', u'x6th.week', u'x7th.week',
       u'x8th.week', u'x9th.week', u'x10th.week', u'x11th.week', u'x12th.week',
       u'x13th.week', u'x14th.week', u'x15th.week', u'x16th.week',
       u'x17th.week', u'x18th.week', u'x19th.week', u'x20th.week',
       u'x21st.week', u'x22nd.week', u'x23rd.week', u'x24th.week',
       u'x25th.week', u'x26th.week', u'x27th.week', u'x28th.week',
       u'x29th.week', u'x30th.week', u'x31st.week', u'x32nd.week',
       u'x33rd.week', u'x34th.week', u'x35th.week', u'x36th.week',
       u'x37th.week', u'x38th.week', u'x39th.week', u'x40th.week',
       u'x41st.week', u'x42nd.week', u'x43rd.week', u'x44th.week',
       u'x45th.week', u'x46th.week', u'x47th.week', u'x48th.week',
       u'x49th.week', u'x50th.week', u'x51st.week', u'x52nd.week',
       u'x53rd.week', u'x54th.week', u'x55th.week', u'x56th.week',
       u'x57th.week', u'x58th.week', u'x59th.week', u'x60th.week',
       u'x61st.week', u'x62nd.week', u'x63rd.week', u'x64th.week',
       u'x65th.week', u'x66th.week', u'x67th.week', u'x68th.week',
       u'x69th.week', u'x70th.week', u'x71st.week', u'x72nd.week',
       u'x73rd.week', u'x74th.week', u'x75th.week', u'x76th.week'],
      dtype='object')

In [12]:
#bd_original.info()


#getting some more info about the DataFrame
##Initial thoughts on what I need to clean: 
#change title artist.inverted to artist
#change title date.entered to date_entered
#change title date.peaked to date_peaked
#change date_entered and date_peaked types to datetime
#strip 'x', 'st' from week titles
#replace '.' with '_' in week titles

In [13]:
bd_original.head()

,year,artist.inverted,track,time,genre,date.entered,date.peaked,x1st.week,x2nd.week,x3rd.week,...,x67th.week,x68th.week,x69th.week,x70th.week,x71st.week,x72nd.week,x73rd.week,x74th.week,x75th.week,x76th.week
0,2000,Destiny's Child,Independent Women Part I,3:38,Rock,2000-09-23,2000-11-18,78,63.0,49.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2000,Santana,"Maria, Maria",4:18,Rock,2000-02-12,2000-04-08,15,8.0,6.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2000,Savage Garden,I Knew I Loved You,4:07,Rock,1999-10-23,2000-01-29,71,48.0,43.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2000,Madonna,Music,3:45,Rock,2000-08-12,2000-09-16,41,23.0,18.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2000,"Aguilera, Christina",Come On Over Baby (All I Want Is You),3:38,Rock,2000-08-05,2000-10-14,57,47.0,45.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
#using describe to get more detailed info on the data and to understand how it differs from info()
#Got 'RuntimeWarning: Invalid value encountered in percentile' error when running describe. I think it has to do with 
#some of the columns being all nan

bd_original.describe(include='all')

##Initial notes and thoughts on what the numbers might show us from describe: 
#top artist: Jay-Z
#top track: Where I Wanna Be
#top genre: Rock
#unique: 228 out of 317 artists
#unique: 68 out of 317 date_entered
#unique: 53 out of 317 date_peaked
#avg rank on week 1: 79.958991
#min rank on week 1: 15.000000
#max rank on week 1: 100.000000

,year,artist.inverted,track,time,genre,date.entered,date.peaked,x1st.week,x2nd.week,x3rd.week,...,x67th.week,x68th.week,x69th.week,x70th.week,x71st.week,x72nd.week,x73rd.week,x74th.week,x75th.week,x76th.week
count,317.0,317,317,317,317,317,317,317.000000,312.000000,307.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
unique,NaN,228,316,126,10,68,53,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,NaN,Jay-Z,Where I Wanna Be,3:50,Rock,2000-01-29,2000-12-02,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,NaN,5,2,9,137,11,17,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,2000.0,NaN,NaN,NaN,NaN,NaN,NaN,79.958991,71.173077,65.045603,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,0.0,NaN,NaN,NaN,NaN,NaN,NaN,14.686865,18.200443,20.752302,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,2000.0,NaN,NaN,NaN,NaN,NaN,NaN,15.000000,8.000000,6.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,2000.0,NaN,NaN,NaN,NaN,NaN,NaN,74.000000,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,2000.0,NaN,NaN,NaN,NaN,NaN,NaN,81.000000,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,2000.0,NaN,NaN,NaN,NaN,NaN,NaN,91.000000,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,2000.0,NaN,NaN,NaN,NaN,NaN,NaN,100.000000,100.000000,100.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
# bd_original.rename(columns=lambda x: x.replace('x', '').replace('st', '').replace('nd', '').replace('rd', '').replace('th', '').replace('.week', ''), inplace=True)

## Step 2: Clean data

##### Do some rudimentary cleaning. Rename any columns that are poorly named, shorten any strings that are too long, and check for missing values (replace them and explain rationale if it makes sense).

In [15]:
#rename id columns
bd_original.rename(columns={'artist.inverted':'artist', 'date.entered':'date_entered', 'date.peaked':'date_peaked'}, inplace=True)

In [16]:
#change date formats
bd_original['date_entered'] = pd.to_datetime(bd_original['date_entered'])
bd_original['date_peaked'] = pd.to_datetime(bd_original['date_peaked'])

In [17]:
bd_original.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 317 entries, 0 to 316
Data columns (total 83 columns):
year            317 non-null int64
artist          317 non-null object
track           317 non-null object
time            317 non-null object
genre           317 non-null object
date_entered    317 non-null datetime64[ns]
date_peaked     317 non-null datetime64[ns]
x1st.week       317 non-null int64
x2nd.week       312 non-null float64
x3rd.week       307 non-null float64
x4th.week       300 non-null float64
x5th.week       292 non-null float64
x6th.week       280 non-null float64
x7th.week       269 non-null float64
x8th.week       260 non-null float64
x9th.week       253 non-null float64
x10th.week      244 non-null float64
x11th.week      236 non-null float64
x12th.week      222 non-null float64
x13th.week      210 non-null float64
x14th.week      204 non-null float64
x15th.week      197 non-null float64
x16th.week      182 non-null float64
x17th.week      177 non-null float64
x18th.week      166 non-null float64
x19th.week      156 non-null float64
x20th.week      146 non-null float64
x21st.week      65 non-null float64
x22nd.week      55 non-null float64
x23rd.week      48 non-null float64
x24th.week      46 non-null float64
x25th.week      38 non-null float64
x26th.week      36 non-null float64
x27th.week      29 non-null float64
x28th.week      24 non-null float64
x29th.week      20 non-null float64
x30th.week      20 non-null float64
x31st.week      19 non-null float64
x32nd.week      18 non-null float64
x33rd.week      12 non-null float64
x34th.week      10 non-null float64
x35th.week      9 non-null float64
x36th.week      9 non-null float64
x37th.week      9 non-null float64
x38th.week      8 non-null float64
x39th.week      8 non-null float64
x40th.week      7 non-null float64
x41st.week      7 non-null float64
x42nd.week      6 non-null float64
x43rd.week      6 non-null float64
x44th.week      6 non-null float64
x45th.week      5 non-null float64
x46th.week      5 non-null float64
x47th.week      5 non-null float64
x48th.week      4 non-null float64
x49th.week      4 non-null float64
x50th.week      4 non-null float64
x51st.week      4 non-null float64
x52nd.week      4 non-null float64
x53rd.week      4 non-null float64
x54th.week      2 non-null float64
x55th.week      2 non-null float64
x56th.week      2 non-null float64
x57th.week      2 non-null float64
x58th.week      2 non-null float64
x59th.week      2 non-null float64
x60th.week      2 non-null float64
x61st.week      2 non-null float64
x62nd.week      2 non-null float64
x63rd.week      2 non-null float64
x64th.week      2 non-null float64
x65th.week      1 non-null float64
x66th.week      0 non-null float64
x67th.week      0 non-null float64
x68th.week      0 non-null float64
x69th.week      0 non-null float64
x70th.week      0 non-null float64
x71st.week      0 non-null float64
x72nd.week      0 non-null float64
x73rd.week      0 non-null float64
x74th.week      0 non-null float64
x75th.week      0 non-null float64
x76th.week      0 non-null float64
dtypes: datetime64[ns](2), float64(75), int64(2), object(4)
memory usage: 205.6+ KB

In [ ]:
#drop entire column if all data is NaN in column
##params:
#axis='1' drops the entire column instead of dropping an entire row
#how='all' only drops columns where all the rows for that column are nan

# bd_nan_dropped = bd_original.dropna(how='all', axis=1)

#verifying shape to make sure number of columns dropped, and rows are uneffected
#new rows = 317
#new columns = 72
# bd_nan_dropped.shape

In [ ]:
#Using a function to rename weeks titles
# def replace_weeks(list_in):
#     name = ['year', 'artist', 'track', 'track_length', 'genre', 'date_entered', 'date_peaked']
#     for index, i in enumerate(list_in):
#         i = 'week_0{}'.format(index + 1)
#         name.append(i)
#     return name

In [ ]:
# bd_weeks_only = bd_nan_dropped.iloc[:, 7:]
# bd_weeks_only.shape

In [ ]:
#calling replace_weeks function and returning list of new column names to cols variable
# cols = replace_weeks(bd_weeks_only.columns)

In [ ]:
# bd_nan_dropped.columns = cols

In [ ]:
#dropping the year column to clean table some more since i'm not sure how it is usefull for my problem statement.
# bd_year_dropped = bd_nan_dropped.drop('year', axis=1)

In [ ]:
# bd_year_dropped.shape

In [ ]:
#bd_year_dropped.head()
#What I've completed so far. Just creating a checkpoint for myself to brainstorm next steps:
#change title artist.inverted to artist - DONE
#change title date.entered to date_entered - DONE
#change title date.peaked to date_peaked - DONE
#change date_entered and date_peaked types to datetime - DONE
#strip 'x', 'st' from week titles - DONE
#replace '.' with '_' in week titles - DONE

In [ ]:
#WHAT NEXT?
##From this current data, what new data can I extrapulate and add as a new column to the cleaned dataset?
#How many weeks did each track stay on the chart?
#How long did it take each track to reach it's peak?

In [ ]:
#How many weeks did each track stay on the chart?
#Creating new column 'weeks_on_chart' to show how long each track was on the chart
#bd_year_dropped['weeks_on_chart'] = bd_year_dropped.ix[:,6:].notnull().sum(axis=1)

In [ ]:
#bd_year_dropped['days_to_peak'] = bd_year_dropped['date_peaked'] - bd_year_dropped['date_entered']

In [ ]:
#bd_year_dropped.describe(include='all')
#bd_year_dropped.head()

In [ ]:
#bd_year_dropped['week_01'] = bd_year_dropped['week_01'].astype(float)

##### Using Pandas' built in `melt` function, pivot the weekly ranking data to be long rather than wide. As a result, you will have removed the 72 'week' columns and replace it with two: Week and Ranking. There will now be multiple entries for each song, one for each week on the Billboard rankings.

In [ ]:
bd_melt = pd.melt(bd_original, id_vars=list(bd_original.columns.values[:7]), value_vars=list(bd_original.columns.values[7:]), var_name='Week', value_name='Ranking')

In [ ]:
bd_melt.info()

In [ ]:
bd_melt['Week'] = bd_melt['Week'].map(lambda x: x.replace('x', '').replace('st', '').replace('nd', '').replace('rd', '').replace('th', '').replace('.week', ''))

In [ ]:
bd_melt.head()

In [ ]:
bd_melt['Week'] = bd_melt['Week'].astype(int)

In [ ]:
#bd_melt['Ranking'] = bd_melt['Ranking'].astype(int)

In [ ]:
bd_melt.head()

In [ ]:
bd_melt.dtypes

In [ ]:
week_date = []

In [ ]:
for index, date in enumerate(bd_melt['date_entered']):
    d = date
    w = timedelta(days=((int(bd_melt['Week'][index])-1)*7))
    week_date.insert(index, d + w)

In [ ]:
bd_melt['week_date'] = week_date

In [ ]:
bd_melt.info()

In [ ]:
bd_melt.head()

In [ ]:
#add a date field to map the week number for each track to the week of the year it's actually on the track
#bd_melt["date_entered"].replace(' 00:00:00', '')

In [ ]:
bd_melt["rank_on_chart"] = [101 - x for x in bd_melt.Ranking]
bd_melt.info()

In [ ]:
bd_melt.describe(include='all')

In [ ]:
bd_melt[bd_melt['track'] == 'Maria, Maria'].isnull().count()

In [ ]:
bd_track_counts = pd.pivot_table(bd_melt, index='track', aggfunc='count')

In [ ]:
bd_track_counts.head()

In [ ]:
bd_track_counts.describe(include='all')

In [ ]:
bd_melt_genre = pd.melt(bd_year_dropped, id_vars=['genre', 'track'], value_vars=list(bd_year_dropped.iloc[:, 7:-2]), var_name='Week', value_name='Ranking')

In [ ]:
bd_genre_counts = pd.pivot_table(bd_melt_genre, index=['genre', 'track'], aggfunc='count')

In [ ]:
bd_genre_counts.head()

## Step 3: Visualize your data.

##### Using BOTH a Tableau Dashboard and python, create visualizations that will provide context to your data. There is no minimum or maximum number of graphs you should generate, but there should be a clear and consistent story being told. Give insights to the distribution, statistics, and relationships of the data.

## Step 4: Create a Problem Statement.

##### Having explored the data, come up with a problem statement that includes risks and assumptions for this data set. You can feel free to introduce data from any other source to support your problem statement, just be sure to provide a link to the origin of the data. Once again- be creative!

- Guide: http://www.ceptara.com/blog/how-to-write-problem-statement
- Kaggle example: https://www.kaggle.com/c/inria-bci-challenge
- Kaggle example: https://www.kaggle.com/c/axa-driver-telematics-analysis

## Step 5: Brainstorm your Approach.
##### In bullet-list form, provide a proposed approach for evaluating your problem statement. This can be somewhat high-level, but start to think about ways you can massage the data for maximum efficacy.

## Step 6: Create a blog post with your code snippets and visualizations.
##### Data Science is a growing field, and the Tech industry thrives off of collaboration and sharing of knowledge. Blogging is a powerful means for pushing the needle forward in our field. Using your blogging platform of choice, create a site and post your process and results. Rather than writing a procedural text, imagine you're describing the data, visualizations, and conclusions you've arrived at to your peers.

### BONUS: LinkedIn has recognized you as a DS thought leader and asked you to pen a white paper (~500 words) on 'Best Practices for Clean Data'. This will be an opinion piece read by a wide (including semi-technical) audience, so be sure to back up your statements with real world examples or scenarios.

##### Hint: Look for online resources (articles, blogs, papers, youtube, podcasts, reddit) that will help you understand the challenges and implications of dealing with big data and missing data. This should be a personal reflection on everything you've learned this week, and the learning goals that have been set out for you going forward.

Score | /24
----- | ------
Identify: Problem Statement / Hypothesis	| 		
Identify: Risks & Assumptions				| 
Acquire: Import Data Using Pandas			| 
Parse: Perform EDA Using Pandas				| 
Viz: Tableau Dashboard and Plots			| 
Mine: Determine Correlations				|
Refine: Evaluate Findings				    |
Present: Describe Results in Blog Post		|
Bonus! Present: Write a short White Paper	| /5