In [1]:
import pandas as pd
import numpy as np

In [2]:
# create a small dictionary with different data types

dft = pd.DataFrame(dict(A = np.random.rand(3),
                        B = 1,
                        C = 'foo',
                        D = pd.Timestamp('20010102'),
                        E = pd.Series([1.0]*3).astype('float32'),
                                F = False,
                                G = pd.Series([1]*3,dtype='int8')))

dft

          A  B    C          D    E      F  G
0  0.651508  1  foo 2001-01-02  1.0  False  1
1  0.824616  1  foo 2001-01-02  1.0  False  1
2  0.075361  1  foo 2001-01-02  1.0  False  1

In [3]:
# There is a really easy way to see what kind of dtypes 
# are in each column. 

dft.dtypes

A           float64
B             int64
C            object
D    datetime64[ns]
E           float32
F              bool
G              int8
dtype: object

In [4]:
# If a pandas object contains data multiple dtypes IN A 
# SINGLE COLUMN, the dtype of the column will be chosen 
# to accommodate all of the data types (object is the 
# most general).
# these ints are coerced to floats

pd.Series([1, 2, 3, 4, 5, 6.])

0    1.0
1    2.0
2    3.0
3    4.0
4    5.0
5    6.0
dtype: float64

In [5]:
# string data forces an ``object`` dtype

pd.Series([1, 2, 3, 6., 'foo'])

0      1
1      2
2      3
3      6
4    foo
dtype: object

In [6]:
# The method get_dtype_counts() will return the number 
# of columns of each type in a DataFrame:

dft.get_dtype_counts()

bool              1
datetime64[ns]    1
float32           1
float64           1
int64             1
int8              1
object            1
dtype: int64

In [7]:
# create a small data frame. 

df = pd.DataFrame(np.random.randn(5, 4), columns=['a', 'b', 'c', 'd'])
df

          a         b         c         d
0  0.245939 -0.494759  1.112122  0.335154
1  0.618354  0.699718 -0.736754  0.047329
2 -0.422058  0.922165  0.691379  0.043889
3 -0.436531 -0.476894  0.395894 -0.221912
4  2.040095  2.155946  1.092414  0.487216

In [24]:
# Use df.apply to find the square root of all the values. 
# NaN means not a number

dfnan = df.apply(np.sqrt)
dfnan

          a         b         c         d
0  0.495922       NaN  1.054572  0.578925
1  0.786355  0.836491       NaN  0.217552
2       NaN  0.960294  0.831492  0.209496
3       NaN       NaN  0.629201       NaN
4  1.428319  1.468314  1.045186  0.698009

In [19]:
# find the mean of all of the columns

df.apply(np.mean, axis=0)

a    0.409160
b    0.561235
c    0.511011
d    0.138335
dtype: float64

In [20]:
df

          a         b         c         d
0  0.245939 -0.494759  1.112122  0.335154
1  0.618354  0.699718 -0.736754  0.047329
2 -0.422058  0.922165  0.691379  0.043889
3 -0.436531 -0.476894  0.395894 -0.221912
4  2.040095  2.155946  1.092414  0.487216

In [22]:
dfnan["a"] = dfnan.fillna(np.mean(df["a"]))
dfnan

          a         b         c         d
0  0.495922       NaN  1.054572  0.578925
1  0.786355  0.836491       NaN  0.217552
2  0.409160  0.960294  0.831492  0.209496
3  0.409160       NaN  0.629201       NaN
4  1.428319  1.468314  1.045186  0.698009

In [10]:
# find the mean of all of the rows

df.apply(np.mean, axis=1)

0    0.299614
1    0.157161
2    0.308844
3   -0.184861
4    1.443918
dtype: float64

In [11]:
# Let's create a random array with 50 numbers, ranging 
# from 0 to 7.

data = np.random.randint(0, 7, size = 50)
data

array([3, 4, 0, 4, 1, 6, 1, 2, 2, 5, 3, 4, 2, 6, 5, 3, 3, 6, 0, 4, 3, 2, 0,
       4, 0, 0, 5, 1, 3, 6, 5, 1, 1, 6, 2, 5, 3, 2, 1, 2, 4, 1, 0, 1, 4, 2,
       1, 4, 0, 0])

In [12]:
# convert the array into a series

s = pd.Series(data)

In [13]:
# How many of each number is there in the series? Enter 
# value_counts()

pd.value_counts(s)

1    9
4    8
2    8
0    8
3    7
6    5
5    5
dtype: int64