# Project 2
## Step 1: Explore data

##### Load your data in using Pandas and start to explore. Save all of your early exploration code here and include in your final submission.

In [1]:
#Importing packages 
import pandas as pd, numpy as np, seaborn as sns, matplotlib.pyplot as plt
%matplotlib inline

In [2]:
#read the data from csv and assign it to a dataframe
bd_original = pd.read_csv("../assets/billboard.csv")

In [3]:
#Wanted to verify what is created
type(bd_original)

pandas.core.frame.DataFrame

In [4]:
#checking how many rows and columns are here.
bd_original.shape
#317 rows, 83 columns

(317, 83)

In [5]:
#getting some more info about the DataFrame
#bd_original.info()

##Initial thoughts on what I need to clean: 
#change title artist.inverted to artist
#change title date.entered to date_entered
#change title date.peaked to date_peaked
#change date_entered and date_peaked types to datetime
#strip 'x', 'st' from week titles
#replace '.' with '_' in week titles

In [6]:
#using describe to get more detailed info on the data and to understand how it differs from info()
#Got 'RuntimeWarning: Invalid value encountered in percentile' error when running describe. I think it has to do with 
#some of the columns being all nan

#bd_original.describe(include='all')

##Initial notes and thoughts on what the numbers might show us from describe: 
#top artist: Jay-Z
#top track: Where I Wanna Be
#top genre: Rock
#unique: 228 out of 317 artists
#unique: 68 out of 317 date_entered
#unique: 53 out of 317 date_peaked
#avg rank on week 1: 79.958991
#min rank on week 1: 15.000000
#max rank on week 1: 100.000000

In [7]:
#drop entire column if all data is NaN in column
##params:
#axis='1' drops the entire column instead of dropping an entire row
#how='all' only drops columns where all the rows for that column are nan

bd_nan_dropped = bd_original.dropna(how='all', axis=1)

#verifying shape to make sure number of columns dropped, and rows are uneffected
#new rows = 317
#new columns = 72
bd_nan_dropped.shape

(317, 72)

In [8]:
#Using a function to rename weeks titles
def replace_weeks(list_in):
    name = ['year', 'artist', 'track', 'track_length', 'genre', 'date_entered', 'date_peaked']
    for index, i in enumerate(list_in):
        i = 'week_0{}'.format(index + 1)
        name.append(i)
    return name

In [9]:
bd_weeks_only = bd_nan_dropped.iloc[:, 7:]
bd_weeks_only.shape

(317, 65)

In [10]:
#calling replace_weeks function and returning list of new column names to cols variable
cols = replace_weeks(bd_weeks_only.columns)

In [11]:
bd_nan_dropped.columns = cols

In [12]:
#dropping the year column to clean table some more since i'm not sure how it is usefull for my problem statement.
bd_year_dropped = bd_nan_dropped.drop('year', axis=1)

In [13]:
bd_year_dropped.shape

(317, 71)

In [14]:
#change date formats
bd_year_dropped['date_entered'] = pd.to_datetime(bd_year_dropped['date_entered'])
bd_year_dropped['date_peaked'] = pd.to_datetime(bd_year_dropped['date_peaked'])

In [15]:
bd_year_dropped.head()

#What I've completed so far. Just creating a checkpoint for myself to brainstorm next steps:
#change title artist.inverted to artist - DONE
#change title date.entered to date_entered - DONE
#change title date.peaked to date_peaked - DONE
#change date_entered and date_peaked types to datetime - DONE
#strip 'x', 'st' from week titles - DONE
#replace '.' with '_' in week titles - DONE

,artist,track,track_length,genre,date_entered,date_peaked,week_01,week_02,week_03,week_04,...,week_056,week_057,week_058,week_059,week_060,week_061,week_062,week_063,week_064,week_065
0,Destiny's Child,Independent Women Part I,3:38,Rock,2000-09-23,2000-11-18,78,63.0,49.0,33.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Santana,"Maria, Maria",4:18,Rock,2000-02-12,2000-04-08,15,8.0,6.0,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Savage Garden,I Knew I Loved You,4:07,Rock,1999-10-23,2000-01-29,71,48.0,43.0,31.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Madonna,Music,3:45,Rock,2000-08-12,2000-09-16,41,23.0,18.0,14.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"Aguilera, Christina",Come On Over Baby (All I Want Is You),3:38,Rock,2000-08-05,2000-10-14,57,47.0,45.0,29.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
#WHAT NEXT?
##From this current data, what new data can I extrapulate and add as a new column to the cleaned dataset?
#How many weeks did each track stay on the chart?
#How long did it take each track to reach it's peak?

In [17]:
#How many weeks did each track stay on the chart?
#Creating new column 'weeks_on_chart' to show how long each track was on the chart
bd_year_dropped['weeks_on_chart'] = bd_year_dropped.ix[:,6:].notnull().sum(axis=1)

In [18]:
bd_year_dropped['days_to_peak'] = bd_year_dropped['date_peaked'] - bd_year_dropped['date_entered']

In [19]:
#bd_year_dropped.describe(include='all')
bd_year_dropped.head()

,artist,track,track_length,genre,date_entered,date_peaked,week_01,week_02,week_03,week_04,...,week_058,week_059,week_060,week_061,week_062,week_063,week_064,week_065,weeks_on_chart,days_to_peak
0,Destiny's Child,Independent Women Part I,3:38,Rock,2000-09-23,2000-11-18,78,63.0,49.0,33.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,28,56 days
1,Santana,"Maria, Maria",4:18,Rock,2000-02-12,2000-04-08,15,8.0,6.0,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,26,56 days
2,Savage Garden,I Knew I Loved You,4:07,Rock,1999-10-23,2000-01-29,71,48.0,43.0,31.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,33,98 days
3,Madonna,Music,3:45,Rock,2000-08-12,2000-09-16,41,23.0,18.0,14.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,24,35 days
4,"Aguilera, Christina",Come On Over Baby (All I Want Is You),3:38,Rock,2000-08-05,2000-10-14,57,47.0,45.0,29.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,21,70 days

In [20]:
bd_year_dropped.columns

Index([u'artist', u'track', u'track_length', u'genre', u'date_entered',
       u'date_peaked', u'week_01', u'week_02', u'week_03', u'week_04',
       u'week_05', u'week_06', u'week_07', u'week_08', u'week_09', u'week_010',
       u'week_011', u'week_012', u'week_013', u'week_014', u'week_015',
       u'week_016', u'week_017', u'week_018', u'week_019', u'week_020',
       u'week_021', u'week_022', u'week_023', u'week_024', u'week_025',
       u'week_026', u'week_027', u'week_028', u'week_029', u'week_030',
       u'week_031', u'week_032', u'week_033', u'week_034', u'week_035',
       u'week_036', u'week_037', u'week_038', u'week_039', u'week_040',
       u'week_041', u'week_042', u'week_043', u'week_044', u'week_045',
       u'week_046', u'week_047', u'week_048', u'week_049', u'week_050',
       u'week_051', u'week_052', u'week_053', u'week_054', u'week_055',
       u'week_056', u'week_057', u'week_058', u'week_059', u'week_060',
       u'week_061', u'week_062', u'week_063', u'week_064', u'week_065',
       u'weeks_on_chart', u'days_to_peak'],
      dtype='object')

In [21]:
#bd_melted = pd.melt(bd_year_dropped, id_vars=['genre', 'artist', 'track', 'date_entered', 'days_to_peak', 'date_peaked', 'weeks_on_chart', 'track_length'], value_vars=list(bd_year_dropped.iloc[:, 7:-2]))

In [ ]:
#bd_melted_2 = pd.melt(bd_year_dropped, id_vars=['genre', 'artist', 'track'], value_vars=['date_entered', 'date_peaked', 'days_to_peak', 'weeks_on_chart', 'track_length'])

In [ ]:
#bd_melted_2.head()

In [ ]:
#xb = bd_melted_2.loc[bd_melted_2['variable'] == 'weeks_on_chart']

In [48]:
bd_pivot_gat = pd.pivot_table(bd_year_dropped, index=['genre', 'artist', 'track'], values='weeks_on_chart')

In [49]:
bd_pivot_gat.head()

genre    artist         track
Country  Adkins, Trace  More                         11
         Allan, Gary    Smoke Rings In The Dark       5
         Black, Clint   Been There                   20
         Brock, Chad    A Country Boy Can Survive     3
                        Yes!                         20
Name: weeks_on_chart, dtype: int64

In [ ]:
bd_pivot_g = pd.pivot_table(bd_year_dropped, index=['genre', 'artist', 'track'], values='weeks_on_chart')

In [ ]:
bd_year_dropped.index = bd_year_dropped["track"]

In [ ]:
del bd_year_dropped['track']

In [ ]:
bd_year_dropped.head()

In [ ]:
bd_year_dropped.plot(x='genre', y='weeks_on_chart')

In [ ]:
bd_melted_2.plot(x='track', y=bd_melted_2.loc[bd_melted_2['variable'] == 'date_entered'])

In [ ]:
bd_melted.plot(x='track', y='weeks_on_chart')

In [ ]:
#bd_year_dropped.index = bd_year_dropped["track"]

In [ ]:
#bd_new_index.index = bd_new_index['song_name']

In [ ]:
#bd_year_dropped

In [ ]:
# bd_year_dropped.plot.bar(x=bd_year_dropped['track'], y=bd_year_dropped['weeks_on_chart'])
#bd_year_dropped.resample('D').sum()

In [ ]:
#bd_melted

##### Write a brief description of your data, data dictionary, and any interesting observations you've made thus far.

In [ ]:
bd_new_index = pd.DataFrame(bd_new_headers)
bd_new_index.index = bd_new_index['song_name']
del bd_new_index['song_name']
bd_new_index.head()

In [ ]:
bd_melted = pd.melt(bd_new_headers, id_vars=['genre', 'artist', 'song_name', 'date_entered', 'days_to_peak', 'date_peaked'], value_vars=list(bd_new_headers.iloc[:, 7:-1]))

In [ ]:
bd_melted.head()

In [ ]:
bd_melted.describe(include='all')
#bd_new_headers.iloc[:,2:-1]

In [ ]:
bd_melted_pivot = pd.pivot_table(bd_melted, index=['genre', 'artist', 'song_name', 'days_to_peak'], values='value', aggfunc='count')

In [ ]:
# bd_melted_pivot = pd.pivot_table(bd_melted, index=['genre'], values='value', aggfunc='count')

In [ ]:
bd_melted_pivot = pd.DataFrame(bd_melted_pivot)

In [ ]:
bd_melted_pivot

In [ ]:
bd_year_dropped.plot(x=bd_year_dropped['date_entered'], y=bd_year_dropped['date_peaked'])

In [ ]:
sns.distplot(bd_m)
plt.show()
n, bins, patches = plt.hist(bd_melted_pivot['value'], 30, normed=1, facecolor='green', alpha=0.75)

In [ ]:
# sns.distplot(bd_melted_pivot_dates)
# plt.show()
# n, bins, patches = plt.hist(bd_melted_pivot_dates['days_to_peak'], 300, normed=1, facecolor='green', alpha=0.75)

In [ ]:
bd_melted_pivot

In [ ]:
bd_melted_genre_pivot = pd.DataFrame(pd.pivot_table(bd_melted, index='genre', values='value', aggfunc='count'))

In [ ]:
bd_melted_genre_pivot

In [ ]:
bd_pivot_genre = pd.pivot_table(bd_melted, index='genre', values='value', aggfunc='count')

In [ ]:
sns.distplot(bd_pivot_genre)
plt.show()
n, bins, patches = plt.hist(bd_pivot_genre[:], 40, normed=1, facecolor='green', alpha=0.75)

In [ ]:
#bd_melted_pivot.describe()
#pd.to_numeric(bd_new_headers['days_to_peak'])
bd_new_headers['days_to_peak'] = bd_new_headers['days_to_peak'].astype('timedelta64[D]')

In [ ]:
bd_new_headers['days_to_peak'] = pd.to_numeric(bd_new_headers['days_to_peak'])

In [ ]:
bd_melted['days_to_peak'] = pd.to_numeric(bd_melted['days_to_peak'].astype('timedelta64[D]'))

In [ ]:
#bd_melted_pivot_dates = pd.pivot_table(bd_melted, index=['genre','artist', 'song_name'], values=['days_to_peak'])

In [ ]:
# dates = bd_new_headers['date_entered', 'date_peaked']

In [ ]:
bd_year_dropped['track_length'] = pd.to_datetime(bd_year_dropped['track_length'])

In [ ]:
bd_year_dropped['track_length'].dt.minute & bd_year_dropped['track_length'].dt.minute

## Step 2: Clean data

##### Do some rudimentary cleaning. Rename any columns that are poorly named, shorten any strings that are too long, and check for missing values (replace them and explain rationale if it makes sense).

##### Using Pandas' built in `melt` function, pivot the weekly ranking data to be long rather than wide. As a result, you will have removed the 72 'week' columns and replace it with two: Week and Ranking. There will now be multiple entries for each song, one for each week on the Billboard rankings.

## Step 3: Visualize your data.

##### Using BOTH a Tableau Dashboard and python, create visualizations that will provide context to your data. There is no minimum or maximum number of graphs you should generate, but there should be a clear and consistent story being told. Give insights to the distribution, statistics, and relationships of the data.

## Step 4: Create a Problem Statement.

##### Having explored the data, come up with a problem statement that includes risks and assumptions for this data set. You can feel free to introduce data from any other source to support your problem statement, just be sure to provide a link to the origin of the data. Once again- be creative!

- Guide: http://www.ceptara.com/blog/how-to-write-problem-statement
- Kaggle example: https://www.kaggle.com/c/inria-bci-challenge
- Kaggle example: https://www.kaggle.com/c/axa-driver-telematics-analysis

## Step 5: Brainstorm your Approach.
##### In bullet-list form, provide a proposed approach for evaluating your problem statement. This can be somewhat high-level, but start to think about ways you can massage the data for maximum efficacy.

## Step 6: Create a blog post with your code snippets and visualizations.
##### Data Science is a growing field, and the Tech industry thrives off of collaboration and sharing of knowledge. Blogging is a powerful means for pushing the needle forward in our field. Using your blogging platform of choice, create a site and post your process and results. Rather than writing a procedural text, imagine you're describing the data, visualizations, and conclusions you've arrived at to your peers.

### BONUS: LinkedIn has recognized you as a DS thought leader and asked you to pen a white paper (~500 words) on 'Best Practices for Clean Data'. This will be an opinion piece read by a wide (including semi-technical) audience, so be sure to back up your statements with real world examples or scenarios.

##### Hint: Look for online resources (articles, blogs, papers, youtube, podcasts, reddit) that will help you understand the challenges and implications of dealing with big data and missing data. This should be a personal reflection on everything you've learned this week, and the learning goals that have been set out for you going forward.

Score | /24
----- | ------
Identify: Problem Statement / Hypothesis	| 		
Identify: Risks & Assumptions				| 
Acquire: Import Data Using Pandas			| 
Parse: Perform EDA Using Pandas				| 
Viz: Tableau Dashboard and Plots			| 
Mine: Determine Correlations				|
Refine: Evaluate Findings				    |
Present: Describe Results in Blog Post		|
Bonus! Present: Write a short White Paper	| /5