# Project 2
## Step 1: Explore data

##### Load your data in using Pandas and start to explore. Save all of your early exploration code here and include in your final submission.

In [1]:
#Importing packages 
import pandas as pd 
import numpy as np 
import seaborn as sns
import matplotlib.pyplot as plt 
import datetime
from datetime import timedelta
%matplotlib inline

In [26]:
#read the data from csv and assign it to a dataframe
bd_original = pd.read_csv("../assets/billboard.csv")

In [27]:
#Wanted to verify what is created
type(bd_original)

pandas.core.frame.DataFrame

In [28]:
#checking how many rows and columns are here.
#bd_original.columns
bd_original.shape
#317 rows, 83 columns

(317, 83)

In [31]:
bd_original.dropna(how='all', axis=1, inplace=True)

In [32]:
bd_original.shape

(317, 72)

In [35]:
bd_original.head()

,year,artist.inverted,track,time,genre,date.entered,date.peaked,1st_week,2nd_week,3rd_week,...,56th_week,57th_week,58th_week,59th_week,60th_week,61st_week,62nd_week,63rd_week,64th_week,65th_week
0,2000,Destiny's Child,Independent Women Part I,3:38,Rock,2000-09-23,2000-11-18,78,63.0,49.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2000,Santana,"Maria, Maria",4:18,Rock,2000-02-12,2000-04-08,15,8.0,6.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2000,Savage Garden,I Knew I Loved You,4:07,Rock,1999-10-23,2000-01-29,71,48.0,43.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2000,Madonna,Music,3:45,Rock,2000-08-12,2000-09-16,41,23.0,18.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2000,"Aguilera, Christina",Come On Over Baby (All I Want Is You),3:38,Rock,2000-08-05,2000-10-14,57,47.0,45.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [34]:
bd_original.rename(columns=lambda x: x.replace('x', '').replace('.week', '_week'), inplace=True)

In [13]:
# week_date = []

# for index, date in enumerate(bd_melt['date_entered']):
#     d = date
#     w = timedelta(days=((int(bd_melt['Week'][index])-1)*7))
#     week_date.insert(index, d + w)
    
# bd_melt['week_date'] = week_date

,year,artist.inverted,track,time,genre,date.entered,date.peaked,1st_week,2nd_week,3rd_week,...,56th_week,57th_week,58th_week,59th_week,60th_week,61st_week,62nd_week,63rd_week,64th_week,65th_week
0,2000,Destiny's Child,Independent Women Part I,3:38,Rock,2000-09-23,2000-11-18,78,63.0,49.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2000,Santana,"Maria, Maria",4:18,Rock,2000-02-12,2000-04-08,15,8.0,6.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2000,Savage Garden,I Knew I Loved You,4:07,Rock,1999-10-23,2000-01-29,71,48.0,43.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2000,Madonna,Music,3:45,Rock,2000-08-12,2000-09-16,41,23.0,18.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2000,"Aguilera, Christina",Come On Over Baby (All I Want Is You),3:38,Rock,2000-08-05,2000-10-14,57,47.0,45.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
#bd_original.iloc[:,:7]

In [ ]:
bd_original.index = bd_original['track']

In [ ]:
#bd_original

In [36]:
df_track_info = bd_original.iloc[:,:6]

In [37]:
df_track_info.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 317 entries, 0 to 316
Data columns (total 6 columns):
year               317 non-null int64
artist.inverted    317 non-null object
track              317 non-null object
time               317 non-null object
genre              317 non-null object
date.entered       317 non-null object
dtypes: int64(1), object(5)
memory usage: 14.9+ KB

In [57]:
df_weeks = bd_original.iloc[:,7:]

In [ ]:
df_weeks = df_weeks.dropna(how='all', axis=1)

In [58]:
df_weeks.head()

,1st_week,2nd_week,3rd_week,4th_week,5th_week,6th_week,7th_week,8th_week,9th_week,10th_week,...,56th_week,57th_week,58th_week,59th_week,60th_week,61st_week,62nd_week,63rd_week,64th_week,65th_week
0,78,63.0,49.0,33.0,23.0,15.0,7.0,5.0,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,15,8.0,6.0,5.0,2.0,3.0,2.0,2.0,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,71,48.0,43.0,31.0,20.0,13.0,7.0,6.0,4.0,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,41,23.0,18.0,14.0,2.0,1.0,1.0,1.0,1.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,57,47.0,45.0,29.0,23.0,18.0,11.0,9.0,9.0,11.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [60]:
df_pv = pd.pivot_table(bd_original, index='track', values=list(bd_original.iloc[:,7:]))

In [61]:
df_pv.head()

,10th_week,11th_week,12th_week,13th_week,14th_week,15th_week,16th_week,17th_week,18th_week,19th_week,...,60th_week,61st_week,62nd_week,63rd_week,64th_week,65th_week,6th_week,7th_week,8th_week,9th_week
track,,,,,,,,,,,,,,,,,,,,,
(Hot S**t) Country Grammar,36.0,37.0,30.0,23.0,21.0,17.0,17.0,15.0,11.0,11.0,...,NaN,NaN,NaN,NaN,NaN,NaN,37.0,24.0,24.0,30.0
3 Little Words,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,90.0,99.0,97.0,98.0
911,38.0,44.0,49.0,53.0,61.0,66.0,68.0,80.0,85.0,96.0,...,NaN,NaN,NaN,NaN,NaN,NaN,48.0,43.0,38.0,42.0
A Country Boy Can Survive,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
A Little Gasoline,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,99.0,NaN,NaN,NaN

##### Write a brief description of your data, data dictionary, and any interesting observations you've made thus far.

There is a lot of missing data in the weeks columns, and many of the weeks at the end is empty for all rows. My first instinct is to remove all the columns from the table where data is missing for all rows. 

Initial thoughts on what I need to clean: 
1. change title artist.inverted to artist
2. change title date.entered to date_entered
3. change title date.peaked to date_peaked
4. change date_entered and date_peaked types to datetime
5. strip 'x', 'st' from week titles
6. replace '.' with '_' in week titles

## Step 2: Clean data

##### Do some rudimentary cleaning. Rename any columns that are poorly named, shorten any strings that are too long, and check for missing values (replace them and explain rationale if it makes sense).

In [ ]:
#rename id columns
bd_original.rename(columns={'year':'year_released','artist.inverted':'artist', 'date.entered':'date_entered', 'date.peaked':'date_peaked'}, inplace=True)

In [ ]:
#change date formats
bd_original['date_entered'] = pd.to_datetime(bd_original['date_entered'])
bd_original['date_peaked'] = pd.to_datetime(bd_original['date_peaked'])

In [ ]:
#adding a column for how many weeks each track is on the charts
bd_original['weeks_on_chart'] = bd_original.ix[:,7:].notnull().sum(axis=1)

In [ ]:
#adding a column for how long it took(in days) for each track to reach it's peak
bd_original['days_to_peak'] = bd_original['date_peaked'] - bd_original['date_entered']

In [ ]:
#bd_original.head()
#Was just checking to make sure changes are going through

In [ ]:
#drop entire column if all data is NaN in column
##params:
#axis='1' drops the entire column instead of dropping an entire row
#how='all' only drops columns where all the rows for that column are nan

bd_cleaned = bd_original.dropna(how='all', axis=1)

#verifying shape to make sure number of columns dropped, and rows are uneffected
#new rows = 317
#new columns = 72
bd_cleaned.shape

In [ ]:
bd_cleaned.head()

In [ ]:
#bd_cleaned.head()
#What I've completed so far. Just creating a checkpoint for myself to brainstorm next steps:
#change title year to year_released - DONE
#change title artist.inverted to artist - DONE
#change title date.entered to date_entered - DONE
#change title date.peaked to date_peaked - DONE
#change date_entered and date_peaked types to datetime - DONE

In [ ]:
#WHAT NEXT?
##From this current data, what new data can I extrapulate and add as a new column to the cleaned dataset?
#How many weeks did each track stay on the chart?
#How long did it take each track to reach it's peak?

In [ ]:
bd_cleaned.head()

In [ ]:
bd_cleaned.rename(columns=lambda x: x.replace('x', '').replace('.week', '_week'), inplace=True)

In [ ]:
bd_cleaned.info()

In [ ]:
bd_cleaned.to_csv('../assets/billboard_data_cleaned.csv')

##### Using Pandas' built in `melt` function, pivot the weekly ranking data to be long rather than wide. As a result, you will have removed the 72 'week' columns and replace it with two: Week and Ranking. There will now be multiple entries for each song, one for each week on the Billboard rankings.

In [ ]:
#Melting the data
bd_melt = pd.melt(bd_cleaned, id_vars=['year_released', 'artist', 'track', 'time', 'genre', 'date_entered', 'date_peaked', 'weeks_on_chart', 'days_to_peak'], value_vars=list(bd_nan_dropped.columns.values[7:-2]), var_name='Week', value_name='Ranking')

In [ ]:
#bd_melt.info()

In [ ]:
#cleaning up the values in weeks
bd_melt['Week'] = bd_melt['Week'].map(lambda x: x.replace('x', '').replace('st', '').replace('nd', '').replace('rd', '').replace('th', '').replace('.week', ''))

In [ ]:
#bd_melt.head()

In [ ]:
#changing week on chart number to int to use later
bd_melt['Week'] = bd_melt['Week'].astype(int)

In [ ]:
#The week number for each track is based on the date the track entered the charts, so i'm creating a new column
#'week_date' so I can get the date for the week it's on the chart.

week_date = []

for index, date in enumerate(bd_melt['date_entered']):
    d = date
    w = timedelta(days=((int(bd_melt['Week'][index])-1)*7))
    week_date.insert(index, d + w)
    
bd_melt['week_date'] = week_date

In [ ]:
#bd_melt.head()

In [ ]:
#bd_melt.dtypes

In [ ]:
#Setting the genre to be a category
bd_melt['genre'] = bd_melt['genre'].astype('category')

In [ ]:
#The value in the Ranking column is opposite of what it actually means on the charts. Lower value is a better rank. So
#creating a new column to invert the ranking.
bd_melt["rank_on_chart"] = [101 - x for x in bd_melt.Ranking]

In [ ]:
#bd_melt.head()

In [ ]:
bd_melt

In [ ]:
bd_cleaned.head()

In [ ]:
bd_cleaned.to_csv('../assets/billboard_data_cleaned.csv')

In [ ]:
bd_melt.to_csv('../assets/billboard_data_melted.csv')

## Step 3: Visualize your data.

##### Using BOTH a Tableau Dashboard and python, create visualizations that will provide context to your data. There is no minimum or maximum number of graphs you should generate, but there should be a clear and consistent story being told. Give insights to the distribution, statistics, and relationships of the data.

In [ ]:
genre_ranks = bd_original.genre.value_counts()
genre_ranks.plot.barh(title='Tracks in Genre')

In [ ]:
sns.set(style="whitegrid", color_codes=True)

sns.violinplot(x="genre", y="weeks_on_chart", data=bd_nan_dropped, inner=None)
sns.swarmplot(x="genre", y="weeks_on_chart", data=bd_nan_dropped, color='w', alpha=.5)

## Step 4: Create a Problem Statement.

##### Having explored the data, come up with a problem statement that includes risks and assumptions for this data set. You can feel free to introduce data from any other source to support your problem statement, just be sure to provide a link to the origin of the data. Once again- be creative!

- Guide: http://www.ceptara.com/blog/how-to-write-problem-statement
- Kaggle example: https://www.kaggle.com/c/inria-bci-challenge
- Kaggle example: https://www.kaggle.com/c/axa-driver-telematics-analysis

## Step 5: Brainstorm your Approach.
##### In bullet-list form, provide a proposed approach for evaluating your problem statement. This can be somewhat high-level, but start to think about ways you can massage the data for maximum efficacy.

1. Read the given data.
2. rename columns as needed.
3. create new columns if needed.
4. create charts to visualize the data.
5. Which genre stays on the charts longest?
6. Which genre has the highest number of tracks on the chart?
7. Is there a correlation between the time of year and what track/genre is peaking at that time?

## Step 6: Create a blog post with your code snippets and visualizations.
##### Data Science is a growing field, and the Tech industry thrives off of collaboration and sharing of knowledge. Blogging is a powerful means for pushing the needle forward in our field. Using your blogging platform of choice, create a site and post your process and results. Rather than writing a procedural text, imagine you're describing the data, visualizations, and conclusions you've arrived at to your peers.

### BONUS: LinkedIn has recognized you as a DS thought leader and asked you to pen a white paper (~500 words) on 'Best Practices for Clean Data'. This will be an opinion piece read by a wide (including semi-technical) audience, so be sure to back up your statements with real world examples or scenarios.

##### Hint: Look for online resources (articles, blogs, papers, youtube, podcasts, reddit) that will help you understand the challenges and implications of dealing with big data and missing data. This should be a personal reflection on everything you've learned this week, and the learning goals that have been set out for you going forward.

Score | /24
----- | ------
Identify: Problem Statement / Hypothesis	| 		
Identify: Risks & Assumptions				| 
Acquire: Import Data Using Pandas			| 
Parse: Perform EDA Using Pandas				| 
Viz: Tableau Dashboard and Plots			| 
Mine: Determine Correlations				|
Refine: Evaluate Findings				    |
Present: Describe Results in Blog Post		|
Bonus! Present: Write a short White Paper	| /5